In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("cats.csv")

In [4]:
df.info

<bound method DataFrame.info of      Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0             0   Egyptian Mau           12            7          White
1             1  Scottish Fold           17            8  Tortoiseshell
2             2         Sphynx            9            9         Orange
3             3       Oriental            6            7           Gray
4             4       Savannah           14            7  Tortoiseshell
..          ...            ...          ...          ...            ...
995         995     Abyssinian           18            3          Black
996         996        Burmese            4            5        Pointed
997         997        Persian           19            9          Cream
998         998        Persian           17            3        Bicolor
999         999           Manx           18            8          Black

     Gender   ID
0      Male  181
1      Male  907
2      Male  732
3    Female  464
4    Female  451
..      ...  ...
995  Female  347
996  Female  339
997    Male  659
998  Female  124
999    Male  226

[1000 rows x 7 columns]>

In [5]:
df.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [8]:
df.drop(['Unnamed: 0'], inplace=True, axis=1)

In [18]:
row_index = 99

In [10]:
specific_row = df.iloc[row_index]

In [11]:
print(specific_row)

Breed          Cornish Rex
Age (Years)             11
Weight (kg)              6
Color              Bicolor
Gender              Female
ID                     527
Name: 99, dtype: object

In [20]:
new_row = {
    'Breed': 'Tabby'
    'Age (Years)' '3'
    'Weight (kg)' '5'
    'Color' 'Orange'
    'Gender' 'Male'
    'ID' 'some #'
}

In [22]:
df['weight in (lbs)'] = df['Weight (kg)'] * 2.205

In [23]:
df.tail()

,Breed,Age (Years),Weight (kg),Color,Gender,ID,weight in (lbs)
995,Abyssinian,18,3,Black,Female,347,6.615
996,Burmese,4,5,Pointed,Female,339,11.025
997,Persian,19,9,Cream,Male,659,19.845
998,Persian,17,3,Bicolor,Female,124,6.615
999,Manx,18,8,Black,Male,226,17.640

In [ ]:
df.head()