In [2]:
import pandas as pd
import seaborn as sns
import requests

In [12]:
df1 = pd.read_json("tsla.json")
df2 = pd.read_json("musk.json")

In [13]:
df1.head()

        Date       open       high       low      close    volume
0 2014-01-02   9.986667  10.165333  9.770000  10.006667  92826000
1 2014-01-03  10.000000  10.146000  9.906667   9.970667  70425000
2 2014-01-06  10.000000  10.026667  9.682667   9.800000  80416500
3 2014-01-07   9.841333  10.026667  9.683333   9.957333  75511500
4 2014-01-08   9.923333  10.246667  9.917333  10.085333  92448000

In [14]:
df2.head()

        Date  Tweet Count
0 2023-03-18           77
1 2023-05-07           76
2 2022-12-16           75
3 2022-11-23           69
4 2023-03-27           66