In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("estonia.csv")

In [3]:
Sex_counts = df['Sex'].value_counts()

In [4]:
print(Sex_counts)

M    503
F    486
Name: Sex, dtype: int64

In [6]:
maleSurvive = 0
femaleSurvive = 0
maleDied = 0
femaleDied = 0
for idx in range(len(df)):
    if df.loc[idx]["Sex"] == "M" and df.loc[idx]["Survived"] == 0:
        maleDied +=1
    elif df.loc[idx]["Sex"] == "M" and df.loc[idx]["Survived"] == 1:
        maleSurvive +=1
    elif df.loc[idx]["Sex"] == "F" and df.loc[idx]["Survived"] == 0:
        femaleDied +=1
    elif df.loc[idx]["Sex"] == "F" and df.loc[idx]["Survived"] == 1:
        femaleSurvive +=1
conTable = pd.DataFrame({
    "Male": [maleSurvive, maleDied],
    "Female": [femaleSurvive, femaleDied]
})
conTable.index = ["Survived", "Died"]
conTable.head()

          Male  Female
Survived   110      27
Died       393     459